{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Blog" %} | {{ block.super }}{% endblock title %}

{% block content %}
{% for article in object_list %}
<article>
<header>
<h2 class="title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
<p>{% translate "Created on" %} {{ article.date_created }}</p>
<p>{% translate "Author(s):" %} {% for a in article.author.all %}<a href="{{ a.get_absolute_url }}">{{ a }}</a> {% endfor %}</p>
</header>
{{ article.summary }}
</article>
{% if forloop.index != loop.last %}<hr />{% endif %}
{% endfor %}
{% endblock content %}